<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neqabty.signup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActionBar">
        <activity
            android:name=".modules.verifyphonenumber.view.VerifyPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".modules.signup.presentation.view.homescreen.SignupActivity"
            android:exported="true" />

<!--        <receiver-->
<!--            android:name="com.neqabty.signup.modules.verifyphonenumber.view.SmsListener"-->
<!--            android:exported="true">-->
<!--            <intent-filter android:priority="1000">-->
<!--                <action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>

</manifest>