<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neqabty.chefaa">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".core.application.ChefaaApplication"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".modules.SelectLocationActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".modules.orders.presentation.view.placeorderscreen.ConfirmCheckoutActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".modules.orders.presentation.view.orderdetailscreen.OrderDetailsActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".modules.orders.presentation.view.orderstatusscreen.OrdersActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".modules.orders.presentation.view.placeprescriptionscreen.CheckOutActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".modules.CartActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".modules.products.presentation.view.productscreen.ProductDetailsActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".modules.products.presentation.view.productscreen.SearchActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".modules.address.presentation.view.addaddressscreen.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".modules.address.presentation.view.adressscreen.AddressesActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".modules.address.presentation.view.homescreen.HomeActivity"-->
<!--            android:exported="false" />-->
    </application>
</manifest>