<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neqabty.healthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.webkit.PermissionRequest" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <queries>
        <package android:name="com.neqabty" />
    </queries>

    <application
        android:name=".core.application.HealthCareApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme.NoActionBar"
        android:usesCleartextTraffic="false"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:name,android:supportsRtl,android:theme,android:allowBackup,android:label,android:usesCleartextTraffic">

        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".MyPushService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".commen.pharmacy.PharmacyActivity"
            android:exported="false" />
        <activity
            android:name=".commen.profile.view.personalinfo.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".core.packages.AddFollowersActivity"
            android:exported="false" />
        <activity
            android:name=".commen.notification.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".core.packages.PackageReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".core.packages.UploadBackNationalid"
            android:exported="false" />
        <activity
            android:name=".core.packages.UploadFrontNationalid"
            android:exported="false" />
        <activity
            android:name=".core.packages.PackageDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".commen.pharmacy.PharmacyActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.medicalnetwork.presentation.view.selectnetwork.SelectNetworkActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".commen.clinido.view.ClinidoActivity"
            android:exported="false" />
        <activity
            android:name=".auth.forgetpassword.view.changepassword.ChangePasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".auth.forgetpassword.view.ForgetPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".commen.eselanding.EseLandingActivity"
            android:exported="false" />
        <activity
            android:name=".commen.landing.view.LandingPageActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.mypackages.presentation.AddFollowerActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.payment.view.SehaPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".commen.checkaccountstatus.view.CheckAccountActivity"
            android:exported="false" />
        <activity
            android:name=".commen.splash.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".commen.onboarding.intro.view.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.signup.view.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.SigninDoneActivity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.UploadIdFrontActivity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.UploadIdBackActivity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.ReviewYourDataActivity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.ResidenceActivity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.DependantsActivity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.ReferenceNumberActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".commen.onboarding.contact.view.EmploymentDetails1Activity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.EmploymentDetails2Activity"
            android:exported="false" />
        <activity
            android:name=".commen.onboarding.contact.view.EmploymentDetails3Activity"
            android:exported="false" />
        <activity
            android:name=".core.home_syndicates.view.SyndicatesHomeActivity"
            android:exported="false" />
        <activity
            android:name=".core.home_general.GeneralHomeActivity"
            android:exported="false" />
        <activity
            android:name=".core.scanqrcode.ScanQrcodeScreen"
            android:exported="false" />
        <activity
            android:name=".core.syndicates.SyndicatesActivity"
            android:exported="false" />
        <activity
            android:name=".core.more.view.MoreActivity"
            android:exported="false" />
        <activity
            android:name=".core.packages.PackagesActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.mypackages.presentation.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.suggestions.presentation.SuggestionsActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.medicalnetwork.presentation.view.providerdetails.ProviderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.offers.presentation.view.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.offers.presentation.view.takeoffer.TakeOfferActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.offers.presentation.view.cashback.CashBackActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.offers.presentation.view.offers.OffersActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.medicalnetwork.presentation.view.searchresult.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.medicalnetwork.presentation.view.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.wallet.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.subscribtions.presentation.view.SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".sustainablehealth.home.presentation.view.homescreen.SehaHomeActivity"
            android:exported="false" />
        <activity
            android:name=".commen.syndicates.presentation.view.homescreen.SyndicateActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".commen.contactus.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".mega.complains.view.ComplainsActivity"
            android:exported="false" />
        <activity
            android:name=".commen.profile.view.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".commen.profile.view.update.UpdateInfoActivity"
            android:exported="false" />
        <activity
            android:name=".mega.payment.view.paymentstatus.PaymentStatusActivity"
            android:exported="false" />
        <activity
            android:name=".mega.payment.view.paymentdetails.PaymentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".mega.payment.view.selectservice.PaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".mega.home.view.MegaHomeActivity"
            android:exported="true" />
        <activity
            android:name=".commen.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".commen.aboutapp.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".mega.payment.view.paymentstatus.PdfCreatorScreen"
            android:exported="false"
            android:label="تحميل اخطار الدفع"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".news.view.newslist.NewsListActivity"
            android:exported="false" />
        <activity
            android:name=".news.view.newsdetails.NewsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".auth.login.view.LoginActivity"
            android:exported="true"
            android:configChanges="screenSize"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".auth.otp.view.VerifyPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".auth.signup.presentation.view.SignupActivity"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name=".chefaa.verifyuser.view.VerifyUserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".chefaa.address.presentation.view.selectlocation.SelectLocationActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".modules.orders.presentation.view.placeorderscreen.ConfirmCheckoutActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".chefaa.orders.presentation.view.orderdetailscreen.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.orders.presentation.view.orderstatusscreen.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.orders.presentation.placeprescriptionscreen.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.products.presentation.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.products.presentation.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.address.presentation.view.addaddressscreen.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.address.presentation.view.adressscreen.AddressesActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.home.presentation.homescreen.ChefaaHomeActivity"
            android:exported="false" />
        <activity
            android:name=".chefaa.orders.presentation.orderbynote.OrderByNoteActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.neqabty.healthcare.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>