<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neqabty.healthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".core.application.HealthCareApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:name,android:supportsRtl,android:theme,android:allowBackup,android:label,android:usesCleartextTraffic">
        <activity
            android:name=".modules.settings.view.SettingsScreen"
            android:exported="false" />
        <activity
            android:name=".modules.payment.view.SehaPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".modules.checkaccountstatus.view.CheckAccountActivity"
            android:exported="false" />
        <activity
            android:name=".modules.splash.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.profile.presentation.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".modules.suggestions.presentation.SuggestionsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.search.presentation.view.providerdetails.ProviderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.offers.presentation.view.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".modules.offers.presentation.view.takeoffer.TakeOfferActivity"
            android:exported="false" />
        <activity
            android:name=".modules.offers.presentation.view.cashback.CashBackActivity"
            android:exported="false" />
        <activity
            android:name=".modules.offers.presentation.view.offers.OffersActivity"
            android:exported="false" />
        <activity
            android:name=".modules.search.presentation.view.searchresult.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".modules.search.presentation.view.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".modules.wallet.presentation.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".modules.subscribtions.presentation.view.SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".modules.home.presentation.view.homescreen.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".modules.syndicates.presentation.view.homescreen.SyndicateActivity"
            android:theme="@style/Theme.NoActionBar"
            android:exported="false" />
    </application>

</manifest>