<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neqabty.meganeqabty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.neqabty" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl,android:theme,android:allowBackup,android:label,android:usesCleartextTraffic,android:networkSecurityConfig">
        <activity
            android:name=".profile.view.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.view.update.UpdateInfoActivity"
            android:exported="false" />
        <activity
            android:name=".payment.view.paymentstatus.PaymentStatusActivity"
            android:exported="false" />
        <activity
            android:name=".payment.view.paymentdetails.PaymentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".payment.view.selectservice.PaymentsActivity"
            android:exported="false" />
        <activity
            android:name="com.neqabty.meganeqabty.splash.view.SuperNeqabtySplashActivity"
            android:exported="true"/>
        <activity
            android:name="com.neqabty.meganeqabty.syndicates.presentation.view.homescreen.SyndicateActivity"
            android:exported="true" />
        <activity
            android:name="com.neqabty.meganeqabty.home.view.homescreen.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.neqabty.meganeqabty.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.neqabty.meganeqabty.aboutapp.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".payment.view.paymentstatus.PdfCreatorScreen"
            android:exported="false"
            android:label="تحميل اخطار الدفع"
            android:theme="@style/AppTheme.ActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.neqabty.meganeqabty.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>